*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(6, 1, 48);
}
p, h1, h3{
    font-family: Montserrat;
    font-weight: 400;
    color: aliceblue;
}

#aboutMe  p{
    font-size: 1.25rem;
}

/* Cabecalho */
.header{
    margin: 0 0 3rem 0;
    padding: 1.25rem;
}

.coluns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8vh 0 8vh 0;

}
.colum{
    padding: 1rem;
}
.firstC{
    padding-top: 3rem;
    margin-left: 2em;
}
.firstC p{
    font-size: 2em;
}

span.colorName{
    color: greenyellow;
    font-family: Fredoka One;
}
h2 > span{
    font-size: 1.25em;
}

.thirdC > img{
    margin-right: 5em;
}
.divider2{
    margin: 0 0 1rem 0;
}

.myPicture > img{
    width: 16rem;
}
.border-gradient{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #00C853, #abff2e);
}

.colum > h3{
    font-size: 1.5em;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pad{
    margin: 2em;
}

.progress{
    margin: 0.75em
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text{
    color: black;
}

button > a{
    color: azure;
    text-decoration: none;
}

 .btn-outline-light{
    background-color: #00C853;
}
.allCards{
    margin: -3em 0 0 0 ;
}
.progress-bar{
    background-color: #abff2e;
}